# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
bin
dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log

# Rollup Builds
www/build

# NodeJs Deps
node_modules/

# Junk Files
.DS_Store
.tmp