nav#AppMenu {
	font-size: 0.9rem;
	display: inline-block;
}

ul {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li {
	cursor: pointer;
	padding: 3px;
}

ul li.MenuEntry span {
	color: var(--fg);
	text-transform: uppercase;
	transition: color 0.2s;
}

ul li.MenuEntry:hover span {
	color: var(--menu-item-hover-fg);
}

ul li ul.MenuItemList {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	display: block;
	margin: 2px 0 0 2px;
	padding: 0;
	background: #444;
}

ul li:hover ul.MenuItemList {
	border: 2px solid var(--bg);
	z-index: 999;
	visibility: visible;
	background-color: #444;
	opacity: 1;
}

ul li ul li.MenuItem {
	width: 7rem;
}

ul li ul li.MenuItem:hover {
	background: var(--bg);
}
